USE [GIBDD]
GO
/****** Object:  Table [dbo].[Car_Colors]    Script Date: 25.02.2021 13:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Car_Colors](
	[Color num] [nchar](10) NULL,
	[Color code] [nchar](10) NOT NULL,
	[name] [nchar](10) NULL,
	[Colorname] [nchar](10) NULL,
	[is metallic?] [int] NULL,
	[Name EN] [nchar](10) NULL,
	[Colorname EN] [nchar](10) NULL,
 CONSTRAINT [PK_Car_Colors] PRIMARY KEY CLUSTERED 
(
	[Color code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cars]    Script Date: 25.02.2021 13:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cars](
	[VIN] [nvarchar](50) NOT NULL,
	[Manufacturer] [nvarchar](10) NULL,
	[Model] [nvarchar](50) NULL,
	[year] [int] NULL,
	[weight] [int] NULL,
	[Number of color] [nchar](10) NULL,
	[Engine type] [int] NULL,
	[type of drive] [nvarchar](50) NULL,
	[category of car] [nchar](10) NULL,
	[Engine number] [int] NULL,
	[Engine year] [int] NULL,
	[Engine power kvt] [int] NULL,
	[Engine pover l.c.] [int] NULL,
	[Max weight] [int] NULL,
	[Engine model] [nchar](10) NULL,
	[driver] [int] NULL,
 CONSTRAINT [PK_Cars] PRIMARY KEY CLUSTERED 
(
	[VIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Drivers]    Script Date: 25.02.2021 13:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drivers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[middlename] [nvarchar](50) NULL,
	[fathersname] [nvarchar](50) NULL,
	[passportserial] [nvarchar](50) NULL,
	[passportnumber] [nchar](50) NULL,
	[postcode] [int] NULL,
	[address] [nvarchar](max) NULL,
	[addresslife] [nvarchar](max) NULL,
	[company] [nvarchar](50) NULL,
	[jobname] [nvarchar](50) NULL,
	[phone] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[image] [varbinary](max) NULL,
	[description] [nvarchar](50) NULL,
 CONSTRAINT [PK_Drivers] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Region Codes]    Script Date: 25.02.2021 13:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Region Codes](
	[Region name RU] [nvarchar](50) NULL,
	[Subject code] [nvarchar](50) NULL,
	[Code] [nvarchar](10) NULL,
	[OKATO code] [nvarchar](50) NULL,
	[ISO 3166-2] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 25.02.2021 13:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Name] [nvarchar](50) NULL,
	[Login] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[Role] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Копия Region Codes]    Script Date: 25.02.2021 13:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Копия Region Codes](
	[Column 0] [varchar](50) NULL,
	[Column 1] [varchar](50) NULL,
	[Column 2] [varchar](50) NULL,
	[Column 3] [varchar](50) NULL,
	[Column 4] [varchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Car_Colors] ([Color num], [Color code], [name], [Colorname], [is metallic?], [Name EN], [Colorname EN]) VALUES (N'602       ', N'#00111b   ', N'Авантюрин ', NULL, NULL, N'Aventurine', NULL)
INSERT [dbo].[Car_Colors] ([Color num], [Color code], [name], [Colorname], [is metallic?], [Name EN], [Colorname EN]) VALUES (N'498       ', N'#001522   ', NULL, NULL, NULL, N'Azure Blue', NULL)
INSERT [dbo].[Car_Colors] ([Color num], [Color code], [name], [Colorname], [is metallic?], [Name EN], [Colorname EN]) VALUES (N'487       ', N'#002e3b   ', N'Лагуна    ', NULL, NULL, N'Lagoon    ', NULL)
GO
INSERT [dbo].[Cars] ([VIN], [Manufacturer], [Model], [year], [weight], [Number of color], [Engine type], [type of drive], [category of car], [Engine number], [Engine year], [Engine power kvt], [Engine pover l.c.], [Max weight], [Engine model], [driver]) VALUES (N'ASD', N'DF', N'DFG', 1999, 123, N'#e6eef0   ', 12, N'RTY', N'ZSD       ', 12, 1998, 123, 23, 432, N'1         ', 1206)
GO
SET IDENTITY_INSERT [dbo].[Drivers] ON 

INSERT [dbo].[Drivers] ([id], [name], [middlename], [fathersname], [passportserial], [passportnumber], [postcode], [address], [addresslife], [company], [jobname], [phone], [email], [image], [description]) VALUES (1206, N'Alonso', N'Caleb', N'Greedy', N'2303', N'160716                                            ', 760832, N'452 Cobblestone St.', N'', N'Global Gillette', N'Reporter', N'9703838933', N'skippy@icloud.com', NULL, N'')
INSERT [dbo].[Drivers] ([id], [name], [middlename], [fathersname], [passportserial], [passportnumber], [postcode], [address], [addresslife], [company], [jobname], [phone], [email], [image], [description]) VALUES (1207, N'Kaydence', N'Susannah', NULL, N'5563', N'160745                                            ', 807042, N'Hyattsville, MD 20782', N'', N'Coca-Cola', N'Elementary School Teacher', N'8677084447', N'isotopian@sbcglobal.net', NULL, N'')
INSERT [dbo].[Drivers] ([id], [name], [middlename], [fathersname], [passportserial], [passportnumber], [postcode], [address], [addresslife], [company], [jobname], [phone], [email], [image], [description]) VALUES (1208, N'Finnegan', N'Brighton', NULL, N'3719', N'717453                                            ', 83282, N'9648 Philmont Lane', N'', N'Harley-Davidson Motor Company', N'Childcare worker', N'2214287850', N'isaacson@att.net', NULL, N'')
GO
SET IDENTITY_INSERT [dbo].[Drivers] OFF
GO
INSERT [dbo].[Region Codes] ([Region name RU], [Subject code], [Code], [OKATO code], [ISO 3166-2]) VALUES (N'Республика Адыгея', N'1', N'1', N'79', N'RU-AD')
INSERT [dbo].[Region Codes] ([Region name RU], [Subject code], [Code], [OKATO code], [ISO 3166-2]) VALUES (N'Республика Алтай', N'4', N'4', N'84', N'RU-AL')
INSERT [dbo].[Region Codes] ([Region name RU], [Subject code], [Code], [OKATO code], [ISO 3166-2]) VALUES (N'Республика Башкортостан', N'2', N'02, 102', N'80', N'RU-BA')
GO
INSERT [dbo].[User] ([Name], [Login], [Password], [Role]) VALUES (N'inspector', N'test', N'test', NULL)
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD  CONSTRAINT [FK_Cars_Car_Colors] FOREIGN KEY([Number of color])
REFERENCES [dbo].[Car_Colors] ([Color code])
GO
ALTER TABLE [dbo].[Cars] CHECK CONSTRAINT [FK_Cars_Car_Colors]
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD  CONSTRAINT [FK_Cars_Drivers] FOREIGN KEY([driver])
REFERENCES [dbo].[Drivers] ([id])
GO
ALTER TABLE [dbo].[Cars] CHECK CONSTRAINT [FK_Cars_Drivers]
GO
