USE [master]
GO
/****** Object:  Database [GIBDD]    Script Date: 10.03.2021 21:54:58 ******/
CREATE DATABASE [GIBDD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GIBDD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\GIBDD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GIBDD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\GIBDD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GIBDD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GIBDD]
GO
/****** Object:  Table [dbo].[Cars]    Script Date: 10.03.2021 21:54:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cars](
	[VIN] [nvarchar](50) NOT NULL,
	[Manufacturer] [nvarchar](10) NULL,
	[Model] [nvarchar](50) NULL,
	[year] [int] NULL,
	[weight] [int] NULL,
	[Number of color] [nchar](10) NULL,
	[Engine type] [int] NULL,
	[type of drive] [nvarchar](50) NULL,
	[category of car] [nchar](10) NULL,
	[Engine number] [int] NULL,
	[Engine year] [int] NULL,
	[Engine power kvt] [int] NULL,
	[Engine pover l.c.] [int] NULL,
	[Max weight] [int] NULL,
	[Engine model] [nchar](10) NULL,
	[driver] [int] NULL,
 CONSTRAINT [PK_Cars] PRIMARY KEY CLUSTERED 
(
	[VIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Drivers]    Script Date: 10.03.2021 21:54:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drivers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[middlename] [nvarchar](50) NULL,
	[fathersname] [nvarchar](50) NULL,
	[passportserial] [nvarchar](50) NULL,
	[passportnumber] [nchar](50) NULL,
	[postcode] [int] NULL,
	[address] [nvarchar](max) NULL,
	[addresslife] [nvarchar](max) NULL,
	[company] [nvarchar](50) NULL,
	[jobname] [nvarchar](50) NULL,
	[phone] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[image] [varbinary](max) NULL,
	[description] [nvarchar](50) NULL,
 CONSTRAINT [PK_Drivers] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 10.03.2021 21:54:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Name] [nvarchar](50) NULL,
	[Login] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[Role] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Cars] ([VIN], [Manufacturer], [Model], [year], [weight], [Number of color], [Engine type], [type of drive], [category of car], [Engine number], [Engine year], [Engine power kvt], [Engine pover l.c.], [Max weight], [Engine model], [driver]) VALUES (N'123456789', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Cars] ([VIN], [Manufacturer], [Model], [year], [weight], [Number of color], [Engine type], [type of drive], [category of car], [Engine number], [Engine year], [Engine power kvt], [Engine pover l.c.], [Max weight], [Engine model], [driver]) VALUES (N'ASD', N'DF', N'DFG', 1999, 123, N'#e6eef0   ', 12, N'RTY', N'ZSD       ', 12, 1998, 123, 23, 432, N'1         ', 1206)
INSERT [dbo].[Cars] ([VIN], [Manufacturer], [Model], [year], [weight], [Number of color], [Engine type], [type of drive], [category of car], [Engine number], [Engine year], [Engine power kvt], [Engine pover l.c.], [Max weight], [Engine model], [driver]) VALUES (N'VIN', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Drivers] ON 

INSERT [dbo].[Drivers] ([id], [name], [middlename], [fathersname], [passportserial], [passportnumber], [postcode], [address], [addresslife], [company], [jobname], [phone], [email], [image], [description]) VALUES (1206, N'Alonso', N'Caleb', N'Greedy', N'2303', N'160716                                            ', 760832, N'452 Cobblestone St.', N'', N'Global Gillette', N'Reporter', N'9703838933', N'skippy@icloud.com', NULL, N'')
INSERT [dbo].[Drivers] ([id], [name], [middlename], [fathersname], [passportserial], [passportnumber], [postcode], [address], [addresslife], [company], [jobname], [phone], [email], [image], [description]) VALUES (1207, N'Kaydence', N'Susannah', NULL, N'5563', N'160745                                            ', 807042, N'Hyattsville, MD 20782', N'', N'Coca-Cola', N'Elementary School Teacher', N'8677084447', N'isotopian@sbcglobal.net', NULL, N'')
INSERT [dbo].[Drivers] ([id], [name], [middlename], [fathersname], [passportserial], [passportnumber], [postcode], [address], [addresslife], [company], [jobname], [phone], [email], [image], [description]) VALUES (1208, N'Finnegan', N'Brighton', NULL, N'3719', N'717453                                            ', 83282, N'9648 Philmont Lane', N'', N'Harley-Davidson Motor Company', N'Childcare worker', N'2214287850', N'isaacson@att.net', NULL, N'')
GO
SET IDENTITY_INSERT [dbo].[Drivers] OFF
GO
INSERT [dbo].[User] ([Name], [Login], [Password], [Role]) VALUES (N'inspector', N'test', N'test', NULL)
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD  CONSTRAINT [FK_Cars_Drivers] FOREIGN KEY([driver])
REFERENCES [dbo].[Drivers] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cars] CHECK CONSTRAINT [FK_Cars_Drivers]
GO
USE [master]
GO
